* {
  margin: 0px;
  padding: 0px;
  font-family: "Dosis", sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  width: 626px;
  margin: auto;
  align-items: center;
  margin-bottom: 85px;
  text-align: center;
}

.main img{
  margin-top: 59px;
  margin-bottom: 37px;
}

b {
  color: #3f3d56;
}

span {
  color: #ee24ff;
}

.main h1 {
  color: #3f3d56;
  font-size: 32px;
  margin-bottom: 19px;
}

.main p {
  color: #828282;
  font-size: 18px;
  line-height: 22px;
}

footer {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  align-items: center;
}

footer a + a{
  margin-left: 28px;
}

footer a {
  font-weight: bold;
  text-decoration: none;
  font-size: 18px;
}

footer img{
  position: fixed;
  bottom: 0;
  height: 200px;
  object-fit: initial;
}

.links{
  margin-bottom: 40px;
  color: #3f3d56;
}